/* .slick-slide {
    margin-right: 1px; /* Adjust the value to your preferred gap 
  }*/
  
  .slick-track {
    display: flex; /* Ensure the slides are laid out in a row */
  }
  
  .slick-list {
    margin: 0 -10px; /* Optional: to remove extra padding caused by slick's own margin/padding */
  }
  .slick-slide > div {
    width: 300px !important;
  }
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  
  .animate-marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 5s linear infinite;
  }
  